[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.7.2"
django = "==4.2.6"
django-debug-toolbar = "==4.2.0"
django-environ = "==0.11.2"
mysqlclient = "==2.2.0"
sqlparse = "==0.4.4"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
setup = "[ ! -f .env ] && cp .env.example .env"
app = "cd src && python manage.py startapp $(name)"
migrations = "python src/manage.py makemigrations"
migrate = "python src/manage.py migrate"
serve = "python src/manage.py runserver"
superuser = "python src/manage.py createsuperuser"
shell = "python src/manage.py shell"
test = "python src/manage.py test $(name)"
eb-init = "eb init -p docker $APP_NAME"
eb-create = "eb create $EB_ENVIROMENT"
eb-terminate = "eb terminate $EB_ENVIROMENT"
