[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.7.2"
django = "==4.2.6"
django-debug-toolbar = "==4.2.0"
django-environ = "==0.11.2"
mysqlclient = "==2.2.0"
sqlparse = "==0.4.4"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
app = "cd src && python manage.py startapp $(name)"
migrations = "python src/manage.py makemigrations"
migrate = "python src/manage.py migrate"
serve = "python src/manage.py runserver"
update-dependencies = "pip freeze > requirements.txt"
install = "pip install $(name)"
setup = "pip install -r requirements.txt"
superuser = "python src/manage.py createsuperuser"
shell = "python src/manage.py shell"
test = "python src/manage.py test $(name)"
eb-init = "eb init -p docker $$EB_APP_NAME"
create = "eb create $$EB_ENV_NAME"
eb-deploy = "eb deploy"
eb-terminate = "eb terminate <your-environment-name>"
